[package]
authors.workspace = true
description = "Treasury configuration pallet - address and mining reward portion"
edition.workspace = true
homepage.workspace = true
license = "Apache-2.0"
name = "pallet-treasury"
publish = false
repository.workspace = true
version = "0.1.0"

[dependencies]
codec = { workspace = true, default-features = false, features = ["derive"] }
frame-benchmarking = { optional = true, workspace = true, default-features = false }
frame-support.workspace = true
frame-system.workspace = true
scale-info = { workspace = true, default-features = false, features = ["derive"] }
sp-runtime.workspace = true

[dev-dependencies]
sp-core.workspace = true
sp-io.workspace = true

[features]
default = ["std"]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
]
std = [
	"codec/std",
	"frame-benchmarking?/std",
	"frame-support/std",
	"frame-system/std",
	"scale-info/std",
	"sp-runtime/std",
]
